pt.css


body {
    font-family: Arial, sans-serif;
    background-color: #F5FFFA;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: white;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003366;
    color: white;
    padding: 10px;
  }
  
  .header img {
    width: 50px;
    height: 50px;
  }
  
  .header h1 {
    flex-grow: 1;
    text-align: center;
    margin: 0;
    font-size: 24px;
  }
  
  .header a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  .menu {
    background-color: #FFCC00;
    padding: 10px;
    text-align: left;
  }
  
  .menu a {
    margin-right: 20px;
    color: #003366;
    text-decoration: none;
    font-weight: bold;
  }
  
  .welcome {
    margin-top: 20px;
    font-size: 18px;
  }
  
  .no-attendance {
    color: red;
    font-size: 16px;
    margin-top: 20px;
  }